@{
    PageData["title"] = "Pokemon Store | Orders Feed";
}
<h2 class="text-center">Order your Pokemon</h2>
<div ui-grid="gridOptions" ui-grid-grouping ui-grid-selection class="rp-grid rp-block"></div>